extends ../layouts/common.pug

block content
    h1 
        span.mr-3 Users
        a.btn.btn-primary(href="/users/create") New

    .d-flex.align-items-center
        form.ml-auto(action="/users/search", method="GET", class="d-flex")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search
    table.table
        tr
            th Name
            th Phone
            th Actions

        each user in users
            tr
                td
                    if user.avatar
                        img(src=user.avatar, width="32", height="32")
                    else
                        img(src="uploads/cf1a39a55cbc7aefa1fa2b9e3f2f4e10", width="32")
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href = '/users/' + user.id) View