extends ../layouts/common.pug

block content
    h1 
        span.mr-3 Products

    .d-flex.align-items-center
        form.ml-auto(action="/products/search", method="GET", class="d-flex")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search
    
    .row
        each product in products
            .col-sm-6.col-md-4.col-lg-3
                .card.shadow.h-100
                    img.card-img-top(src= product.image, alt= product.name)
                    .card-body
                        h4.card-title= product.name
                        h5.card-text= product.description
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart

        nav(aria-label='...')
            ul.pagination
                li.page-item.disabled
                    a.page-link(href='/products?page' + page, tabindex='-1', aria-disabled='true') Previous
                - var i = 1;
                while i<=10
                    li.page-item
                        a.page-link(href='/products?page=' + i)
                            li= i++
                li.page-item
                    a.page-link(href='#') Next